header{
    width:100%;
    height:100px;
    background-color:#ddd;
}
/* end header */
#slider{
    width:100%;
    height:550px;
    margin:0 auto;

}
#slider > div{
    width:100%;
    height:100%;
    clip-path: polygon(100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
    background-image: url(../img/slide3.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
/* end slider */
section{
    width:1200px;
    height:auto;
    margin:0 auto;
    /* background-color:#ddd; */
}
.container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
    height:auto;
    /* background-color:#eee; */
    position:relative;
    margin-top:50px;
}
.container > h2{
    text-align:center;
    width:100%;
    height:30px;
    display:block;
    position:absolute;
}
.container > div{
    width:300px;
    heighT: 550px;
    margin:80px 15px;
    border:1px solid #eee;
}
.money1{
    font-size:15px;
}
.container > .money > .plus{
    width:500px;
    height:250px;
    background-color:white;
    position:relative;
    vertical-align:middle;
    text-align:center;
    display:table-cell;
}
#yearpass{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-content: space-around;
    margin:10px;
    /* background-color:#eee; */
}
#yearpass > h2{
    text-align:center;
    height:30px;
    width:100%;
    display:block;
}
#yearpass > .money{
    width:300px;
    height:750px;
    /* background-color:#ddd; */
    margin:10px;
    border:1px solid #eee;
}
#yearpass > .money > .char{
    width:100%;
    height:300px;
    background-color:white;
}
.money > .intro{
    width:100%;
    height:200px;
    background-color:white;
}
.intro > h3{
    text-align:Center;
}
.intro > p{
    text-align:Center;
    margin:25px;
}
.intro > span{
    text-align:center;
    display:block
}
.money > .out{
    background-color:white;
    width:100%;
    height:50px;
}
.out{
    justify-content: center;
    align-content: flex-start;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.out > p{
    width:100%;
    text-align:center;
    margin:10px;
}
.out > span{
    display: block;
    width:80px;
    text-align:center;
}
.last{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content:center;
    background-color:white;
    /* border-bottom: 1px solid #eee; */
    align-items:center;
}
.last > span{
    width: 90px;
    display:block;
    text-align:center;
    padding:25px 0;
}
.last2{
    height:195px !important;
    align-content: center;
}
.last3{
    /* background-color:red; */
    height:195px;
    align-content:center;
}
.year_info{
    display:flex;
    justify-content: center;
}
.char1{
    background-image:url(../img/1.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size:110%;
}
.char2{
    background-repeat:no-repeat;
    background-position:10px 10px;
    background-position:bottom center;
    background-size:80%;
    background-image:url(../img/1-1.png)
}
.char3{
    background-repeat:no-repeat;
    background-position: center;
    background-size:80%;
    background-image:url(../img/3-1.png)
}
.char4{
    background-repeat:no-repeat;
    background-position:right;
    background-size:100%;
    background-image:url(../img/4-1.png)
}
.char5{
    background-repeat:no-repeat;
    background-position:center;
    background-size:100%;
    background-image:url(../img/5-1.png)
}
.char6{
    background-repeat:no-repeat;
    background-position:center;
    background-size:73%;
    background-image:url(../img/6-1.png)
}

/* jq용 */

.show{
    display:block;
}
.hide{
    display:none;
}

.toggle{
    background-color:red
}

/*  */
#info{
    display:none;
}
.more{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.more > p{
    display:block;
    margin:20px;
}

.oday_info{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
    align-items: flex-end;
    height:300px;
}
.oday_info > p{
    text-align:center;
}
.oday_btn{
    display:flex;
    justify-content:center;
    margin-top:50px;
}
.oday_btn > button {
    border:none;
    background-color:#ff6633;
    width:150px;
    height:30px;
    color:white;
    border-radius: 5px;
}
.oday_btn > button:hover{
    background-color:white;
    color:#555;
    cursor:pointer;
    transition:all 0.5s
}
.info_container{
    width:1150px;
    margin:0 auto;
    margin-top:170px;
    /* background-color:#eee; */
}
.info_container > button{
    border:none;
    background-color:#ff6633;
    color:White;
    cursor:pointer;
    padding:10px;
    border-radius:5px;
    margin:30px 0;
}
.info_container > button:hover{
    background-color:white;
    color:black;
    transition:all 0.5s
}

.info_container > p{
    line-height: 40px;
}


#promotion{
    width:1200px;
    height:auto;
    /* background-color:#ddd; */
}
#promotion > h2{
    text-align:Center;
}
#promotion > .button_box{
    width:100%;
    height:100px;
    /* background-color:aquamarine; */
    display:inline-block;
}
#promotion > .button_box > .sub_btnbox{
    width:50%;
    float:left;
    /* background-color:Red; */
    height:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#promotion > .button_box > .sub_btnbox> button{
    border:none;
    padding:10px 20px;
    background-color:#ff6633;
    color:white;
}
#promotion > .button_box > .sub_btnbox> button:hover{
    background-color:white;
    color:black;
    cursor:pointer;
    transition:all 0.5s;
}

/* #promotion >.button_box > .sub_btnbox > button:active{
    background-color:red
} */
/* .sub_btnbox .sub_btn:active{
    background-color:Red
}  시발 안 됨 왜?*/

.pro_container{
    display:flex;
    flex:row wrap;
    justify-content:center;
    margin:50px
}

.pro_container > .spec{
    width:45%;
    height:250px;
    background-color:white;
    margin:5px;
    position:relative;
    border:1px solid #eee;
}

.spec img{
    position:absolute;
    right:30px;
    bottom:0px;
}
.spec h2{
    margin-top:15px;
    margin-left:25px;    
    font-size:30px;
    color:#ff6633;
    font-weight:bold;
}
.normal h2{
    margin-top:15px;
    margin-left:25px;    
    font-size:25px;
}
.normal h4{
    margin-left:25px;
    font-size:15px;
}
.spec h4{
    margin-left:25px;
    color:#ff6633;
    font-size:18px;
}
.spec > span{
    font-size:13px;
    margin:30px 25px;
    display:block;
    color:#ff6633;
    opacity:0.7
}
.normal{
    display:flex;
    width:100%;
    height:100%;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-content:flex-start;
    margin:50px 0;

}
.normal > div{
    width:30%;
    height:250px;
    background-color:white;
    margin:5px;
    position:relative;
    border:1px solid #eee;
    box-sizing:border-box
}
.spec > .serv{
    width:80px;
    height:30px;
    background-color:#ff6633;
    text-align:center;
    color:white;
    line-height:28px

}
.serv{
    width:80px;
    height:30px;
    background-color:#eee;
    text-align:center;
    color:#444;
    line-height:28px
}

.pay{
    width:100%;
    height:50px;
    /* background-color:#eee; */
    bottom:0;
    left:0;
    position:absolute;
}
.pay > span{
    font-weight:bold;
    margin-left:30px;
    line-height:48px;
}
#main3 > button{
    margin-lefT:50px;
}
/* end section */

.quickmenu{
    position:absolute;
}
.quickmenu > div{
    z-index:55;
    word-break:break-all;
    text-align:center;
    position:relative
}

.quickmenu > div > span{
    font-size:15px;
}
.quickmenu > div:hover{
    color:black;
    font-weight:bold;
    cursor:pointer;
    background-color:white

}
.quickmenu > div > span{
    box-sizing:content-box;
}
.scroll1{
    width:60px;
    height:60px;
    border-radius:50%;
    background-color:#ff6633;
    top:43%;
    color:White;
    right:7%;
}

.scroll2{
    width:60px;
    height:60px;
    border-radius:50%;
    background-color:#ff6633;
    top:50%;
    color:White;
    right:7%;
}

.scroll3{
    width:60px;
    height:60px;
    border-radius:50%;
    background-color:#ff6633;
    top:57%;
    right:7%;
    color:White;
}

